/*Fonts*/

@font-face {
    font-family: "Ignazio Text";
    src: url("./assets/fonts/IgnazioText-Regular.woff");
}
@font-face {
    font-family: "Marko One";
    src: url("./assets/fonts/MarkoOne-Regular.woff");
}

@font-face {
    font-family: "Las Enter";
    src: url("./assets/fonts/LasEnter_PersonalUseOnly.ttf");
}
@font-face {
    font-family: "Nickainley";
    src: url("./assets/fonts/Nickainley-Normal.otf");
}

/* Global settings */
[data-theme="dark"] {
    --main-color: #E06ACE;
    --secondary-color : #111111;
    --text-color: #FAFAFA;
    --background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(34,7,30,1) 50%, rgba(17,17,17,1) 100%);
    --background-card: rgba(0,0,0, 0.39);
    --border-card: rgba(0,0,0, 0);
    --background-btn: linear-gradient(0deg, rgba(229, 128, 213, 1) 0%, rgba(224,106,206,1) 50%, rgba(229, 128, 213, 1) 100%);
    --background-btn-hover: linear-gradient(0deg, rgba(233, 149, 220, 1) 0%, rgba(238,170,228,1) 50%, rgba(233, 149, 220, 1) 100%);
    --secondary-btn-background: rgba(0,0,0,0);
    --secondary-btn-hover: #F2BFEA;
}

[data-theme="light"] {
    --main-color: #A92394;
    --secondary-color : #FAFAFA;
    --text-color: #111111;
    --background : linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(252,238,249,1) 50%, rgba(250,250,250,1) 100%); 
    --background-card: rgba(255,255,255, 0.39);
    --border-card: var(--main-color);
    --background-btn: linear-gradient(0deg, rgba(211, 44, 185, 1) 0%, rgba(169,35,148,1) 50%, rgba(211, 44, 185, 1) 100%);
    --background-btn-hover: linear-gradient(0deg, rgba(216, 65, 192, 1) 0%, rgba(220,86,199,1) 50%, rgba(216, 65, 192, 1) 100%);
    --secondary-btn-background: #FAFAFA;
    --secondary-btn-hover: #DC56C7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;

}

body {
    max-width: 1440px;
    margin: 0 auto;
    background: var(--background);

}

/* Global Elements*/

.wrapper {
    margin: 0 5%;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

p, li, h2, h3, h4, button {
    font-family: 'Ignazio Text', sans-serif;
    color: var(--text-color);
}
p, li {
    font-size: 18px;
}

h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
ul {
    list-style-position: inside;
}
@media screen and (max-width: 576px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p, li {
        font-size: 14px;
    }
}
.btn {  
    filter: drop-shadow(0px 2px 2px #202020);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background: var(--background-btn-hover);
}

.big-btn {
    border-radius: 15px;
    font-size: 18px;
    padding: 1em 1.5em ;
}
.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em ;
    color: var(--secondary-color);
    background: var(--background-btn);
    border: none;   
}
.secondary-btn {
    background: var(--secondary-btn-background);
    padding: 1em 1.5em ;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin-left: 5%;
}
.secondary-btn:hover {
    background: var(--secondary-btn-background);
    transform: scale(1.1);
    border: 2px solid var(--secondary-btn-hover);
}
.title {
    text-align: center;
    font-weight: normal;
}

.main-title {
    margin-bottom: 56px;
    font-weight: normal;
    text-align: center;

}

.toggleBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background: var(--background-btn);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .toggleBtn {
        height: 40px;
        width: 40px
    }
    .main-title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .secondary-btn {
        margin: 32px 0 0 0;
    }
    .big-btn {
        font-size: 14px;
    }
  
    }

.toggleIcon {
    height: 30px;
}

.card {
    background: var(--background-card);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 15px;
    text-align: left;
    border: 2px solid var(--border-card);
}


/* Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
    height: 90px;
    margin-bottom: 136px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    display: flex;
}

.firstFont {
    font-family: 'Las Enter', sans-serif;
    font-size: 50px ;
}
.secondFont {
    font-family: 'Nickainley', sans-serif;
    font-size: 40px;
    margin-left: 5%;
}

.firstFont, .secondFont {
    color: var(--main-color);
}

.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin-left: 12%;
}

.link, .navLink {
    display: inline-block;
    align-self: center;
    position: relative;
    font-weight: normal;
}

.navLink{
    margin: 0 5%;
    white-space: nowrap;

}
.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link:hover::after{
    transform: scaleX(1);
    transform-origin: botom left;
}

@media screen and (max-width: 576px) {

header {
    height: 70px;
    margin-bottom: 80px;
}
.firstFont {
    font-size: 23px;
}
.secondFont {
    font-size: 18px;
}
.navigation {
    font-size: 12px;
    width: 50px;
}
.navLink {
    font-size: 10px;
    margin: 0 5px;
}

}

/* Landing Page */

.hero {
    display: grid;
    height: 100%;
    position: relative;
}
.hero-img {
 max-width: 100%;
 max-height: 100vh;
 margin: auto;
 height: auto;
 animation: 700ms fadeIn ease-in;
}

@media screen and (max-width: 1200px) {
   .mobile {
    height: 100vh;
}
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80px;
    height: 80px;
    border-radius: 50%;  
    background: var(--main-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero-btn:hover {
    
    transform:  translate(-50%, 0) scale(1.1);
}
.hero-btn-icon {
    height: 47px;
    width: 31px;
}

.hero-toggle-btn {
    position: absolute;
    right:0;
    top: 20px;
}

/* All Projects Page */


.projects-section p {
    text-align: center;
}

.project-container, .challenge-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.project{
    padding: 60px;
    margin: 32px;
}

.projectLink {
    color: var(--main-color);
    margin-top: 16px;
}

.project-img {
    max-height: 250px;
    height: auto;
    margin-bottom: 32px;
    transition: all 0.3s ease-in-out;
}
.project-img:hover {
    transform: scale(1.1);
}
.project-btn {
    margin-top: 16px;
}
@media screen and (max-width: 1300px) {
    .project-container, .challenge-container {
        grid-template-columns: 1fr 1fr; 

    }
    .project {
        margin: 0 0 32px 0 
    }  
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 992px) {
    .project-container, .challenge-container {
        grid-template-columns:  1fr;

    }
    .project-container h2 {
        font-size: 18px;
    }   
}

@media screen and (max-width: 576px) {
.project-img {
    max-height: 165px;
}
   
}


/* Project page */
.card-page {
    padding: 32px;   
    margin-bottom: 16px;
}
.project-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
       
}

.section-title img {
    margin-right: 8px;
}

.project-image-section {
    display: flex;
    justify-content: center;
    margin-right: 16px;
  
}
.project-image {
    max-height: 350px;
    margin: auto;
    
}

.soft-container {
    display: flex;
}
.tool-division {
width: 100px;
display: flex;
justify-content: center;
}

.soft-iconsContainer {
    display: flex;
}
.soft-icon {
  margin: 8px 0;
    
}
.soft-textContainer {
    display: flex;
}
.soft-text {
    font-size: 14px;

}
.project-links {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.btn-project{
    display: flex;
    align-items: center;
    justify-content: center;
}
.see-project-icon {
    height: 20px;
    margin-right: 20px;
}

.switch-project-icon {
    width: 20px;
    margin-right: 20px;
}


@media screen and (max-width: 1200px) {
.project-elements {
    grid-template-columns: 1fr;
    
}
.project-image-section {
    margin-right: 0;
}
 }
@media screen and (max-width: 768px) {
   .project-description {
    grid-template-columns: 1fr;
   }
   .project-image {
    max-height: 250px;
   }
}

@media screen and (max-width: 576px) {
    .project-image {
        max-height: 150px;
       }
    .project-links {
        flex-direction: column;
    }
    .icon {
        height: 30px;
    }
    .card {
        padding: 16px;
    }
 }

 /* Career Page */

 .career {
    max-width: 700px;
    margin: 16px auto;
    position: relative;
 }

 .career-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
 }
 .career-icon {
    margin-right: 8px;
 }


/* Footer */

.footer {
    margin: 136px 0 32px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: var(--background-btn);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer p {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
}

.footer img {
    height: 30px;
}

@media screen and (max-width: 576px) {
    .footer {
        margin: 80px 0 32px 0;
    }
 }

/* about page */

.about {
    display: flex;
    align-items: center;
    font-size: 18px;
    
}
.about-description {
    max-width: 900px;
}
.about-description span {
    color: var(--main-color);
}
.avatar {
max-height: 250px;
border: 8px solid var(--main-color);
border-radius: 50%;
margin-right: 5%;
}

@media screen and (max-width: 992px) {
    .about {
        flex-direction: column;
        justify-content: center;
    }
    .about h1 {
        text-align: center;
    }
    .avatar{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 576px) {
    .about {
       
        font-size: 16px;
    }
    .avatar {
        max-height: 150px;
    }
}


/* animation */

.hidden {
    display: none;
}

.fadeOut {
    animation: 500ms ease-out 0s 1 fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


@keyframes neon {
    from {
      text-shadow:
      0 0 5px var(--main-color),
      0 0 15px var(--main-color),
      0 0 80px var(--main-color),
      0 0 60px #2b0327,
      0 0 10px #0c013d,
      0 0 90px #2b0327;
    }
    to {
      text-shadow:
      0 0 5px rgba(190,62,170,0.99),
      0 0 15px rgba(190,62,170,0.99),
      0 0 80px rgba(190,62,170,0.99),
      0 0 60px rgba(43,3,39,0.99),
      0 0 10px rgba(12,1,61,0.99),
      0 0 90px rgba(43,3,39,0.99)
    }
  }

  .neonText, .neonTextSecondary {
text-shadow:
    0 0 5px var(--main-color),
    0 0 15px var(--main-color),
    0 0 80px var(--main-color),
    0 0 60px #2b0327,
    0 0 10px #0c013d,
    0 0 90px #2b0327;
  
  }
  .neonText {
    animation: neon 100ms ease-in-out infinite alternate;
  }
  .neon {
    box-shadow: 
    0 0 15px var(--main-color),
    inset 0 0 10px var(--main-color);
  }