/* Default Style */
:root {
  --bg-color: #192742;
  --main-color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Console', sans-serif;
}

#root {
  margin: 0 1.5rem;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--bg-color);
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
